<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Messages:</h1>

    <div class="messages">
      <% messages.map(message => { %>
      <div class="message-wrapper">
        <p><%= message.username %></p>
        <p><%= message.text %></p>
        <a href="message/<%= message.id %>">
          <button>detail</button>
        </a>
      </div>
      <% }) %>
    </div>

    <a href="./new">
      <button>Add</button>
    </a>
  </body>
</html>
